@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TourSlot

    <form id="@Model.TourSlotID" asp-action="SignUp" method="post" class="form-group">
        <input type="hidden" asp-for="TourSlotID" />
        <input type="hidden" asp-for="TimeInfo" />


        <span class="card-text p-1">

            <button type="submit" class="btn-light btn-sm pull-right" style=" float: right;">
                Book Now
            </button>
        </span>

    </form>
