@{
    ViewData["Title"] = "Layton Temple Tours";
}



<div class="jumbotron bg-cover" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%), url(http://photogent.com/wp-content/uploads/2020/12/Thumb.jpg)">
    <h1 class="display-4">Layton Temple Tours</h1>
    <p class="lead">Please sign up for a tour of the Layton, Utah Temple grounds</p>
    <hr class="my-4">
    <p>Click below to see avaliable times for tours or find general information below.</p>
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="SignUp" role="button">Sign Up</a>
    <hr class="my-4">
    <h6 class="display">General Tour Instructions:</h6>
    <ul>
        <li class="font-italic">Masks are required.</li>
        <li>
            Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
            Dress casual, except on Sunday
        </li>
    </ul>
    <h6 class="display">
        Special Accommodations (check the appropriate box when signing up for a tour):
    </h6>
    <ul>
        <li>Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday</li>
    </ul>
    <h6 class="display">
        Available Tours:
    </h6>
    <ul>
        <li>
            Tour (Outdoor): We have been asked to discontinue outside tours at this time.
            Trailer Tour: All tours will be inside the trailer. Masks are required
        </li>
    </ul>


    <!-- /.container   -->
</div>


