@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DayOfWeekViewModel
<div class="text-center">
    <h1 class="display-4">Available Times</h1>

    <div>
        <div>
            <h3>Monday</h3>

            @foreach (var x in Model.Monday)
            {
                <div>
                    <p>@x.Time</p>
                </div>
            }
        </div>   
    </div>
    
</div>
